# Hide the Actual Config File Since it May Contain Webhook URL's and API Keys
config.json

# Hide Junk Files
__pycache__/
Junk/
logs/*
!logs/.keep
Test-Bench.py

# Hide docker build output
faster_twitch_alerts.tar
